@theme {
  /* Colors */
  --color-gray-0: #ffffff;
  --color-gray-50: #f5f5f5;
  --color-gray-100: #fafbf7;
  --color-gray-200: #f2f4ed;
  --color-gray-300: #e6e8df;
  --color-gray-400: #d5d8cd;
  --color-gray-500: #bfc1b6;
  --color-gray-600: #a1a499;
  --color-gray-700: #7c7f76;
  --color-gray-800: #52534e;
  --color-gray-900: #262624;

  --color-primary-50: #f7fbea;
  --color-primary-100: #e9f6c0;
  --color-primary-200: #a6c154;
  --color-primary-300: #a2cd20;
  --color-primary-400: #7ea310;

  --color-red-50: #ffd7d4;
  --color-red-100: #fb7d74;
  --color-red-200: #f03e31;
  --color-red-300: #dc1d10;
  --color-red-400: #bf1004;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
