/*
  재사용할 스타일 단위로 묶어 정의
  1. 클래스명에 바로 사용 가능
  2. @layer components 클래스 안에서 @apply flex-center로 적용 가능
*/
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
  }

  /* 스크롤바 감추기 */
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}
